*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #FEFBF1;
    padding: 20px 0;
}
nav a{
text-decoration: none;
color: #703412;
font-weight: 400;
font-size: 14px;
}
header{
    background-color:#FEFBF1 ;
    padding: 100px 50px;
}
header h6{
    color: #703412;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.6px;

}
header h1{
    font-size: 80px;
    color: #703412;
    line-height: 80px;
}
main{
    background-color: #FEFBF1;
    padding: 50px;

}
main .a1 p{
    color: #703412;
}
main .a2{
    display: flex;
    flex-wrap: wrap;
    padding:50px 0;
    justify-content: space-between;
    gap: 30px;
}
main div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
main div img{
    width: 502px;
    height: 500px;
    border-radius: 8px;
}
main div h2{
    font-size: 24px;
    color: #703412;
}
main div h4{
    font-size: 12px;
    letter-spacing: 1.6px;
    color: #703412;
}